# Python cache and environments

**/.venv
**/__pycache__
**/.ruff_cache
**/.mypy_cache

# Project specific directories

## The board file
**/BoardCase
## The build output directory
**/build
## The pdf output of Typst document
**/*.pdf

## Downloaded replay json files
**/replay
