{
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.md", "**/*.md", "*.typ", "**/*.typ"],
      "options": {
        "proseWrap": "preserve",
        "printWidth": 120
      }
    }
  ]
}
